.pieDePagina{
    transform: translate(0px,150px);
    background-color: #272727;
    padding-top: 20px;
}

.redesSocialesPie{
    color: whitesmoke;
    margin: auto;
    text-shadow: 0.5px 0.5px 0.5px black;
    z-index: 10;
}

.creditos{
    color: whitesmoke;
    text-align: center;
}
