body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(209, 209, 209);
    margin: auto;
    display: grid;
}

.redesSociales1{
    background: rgb(1, 38, 68);
    color: whitesmoke;
    margin: auto;
    text-shadow: 2px 2px 10px black;
    z-index: 10;
    transform: translate(0px, 64px);
    padding: 16px;
    border-style:double;
}

.boxRedes1{
    justify-content: center;
	align-content:center;
	width:80%;
}

.boxSigue{ 
    text-align: center;
}

/*esto es para los iconos de las redes sociales, 1 para los mas grandes, 2 para los que estan en pie de pagina*/
.icono1{
    width: 30px;
    height: 30px;
}

.videoZelda{
    position:absolute;
    width: 100%;
    height: 140%;
    top:0px;
    left:0px;
    bottom: 0px;
    object-fit: cover;
	border-bottom-style: solid;
	border-color:rgb(1, 38, 68);
}

.tituloIndex{
	align-items:center;
    padding-top: 80px;
    margin: auto;
    width: 60%;
    position: relative;
    top:10px;
    color: antiquewhite;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 10px black;
    letter-spacing: 1px;
    line-height: 50px;
}

.gaming{
    font-size: 65px;
    line-height: 100px;
    text-shadow: 2px 2px 10px black;
}

.capa{
    position:absolute;
    width: 100%;
    height: 140%;
    top:0;
    left:0;
    background: #4d4d4d;
    opacity: 0,5;
    mix-blend-mode: overlay;
}

#hero{
    min-height: 50%;
    position: relative;
    padding: 0;
}

.capa2{
    padding: 0;
    margin: 0px 0px 250px 0px;
    height: 120%;
    transform: translate(0px,40px);
}

.imgBusqueda{
    width: 250px;
    height: 200px;
    border-style:double;
    border-color: #272727;
    border-radius: 5px;
}

.barraBusqueda{
    padding-top: 10px;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 2;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    transform: translate(0px,40px);
}

.carrusel{
    padding-top: 64px;
    margin: auto;
    width: 90%;
    height: 100%;
    position: relative;
    z-index: 2;
    font-size: 20px;
    border-radius: 5px;
    transform: translate(0px,64px);
    align-items: center;
    justify-items: center;
    
}

.imagenMain{
    position:absolute;
    width: 100%;
    height: 140%;
    top:0px;
    left:0px;
    bottom: 0px;
    object-fit: cover;
}
