@media (min-width: 320px) and (max-width: 767px){
    .textoIcono{
        width: 100%;
    }
    div.buscarBoton{
        position: relative;
        margin-top: 200px;
    }
}


@media (min-width: 320px){
    .noticiasDestacadas {
        font-size: 30px;
    }
}

